* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

.container {
    height: 400vh;
    width: 80%;
    margin: 0 auto;
    background-color: #404EED;
}

/* navbar */

nav {
    background-color: black;
    width: 100%;
}

.nav-container {
    background-color: cadetblue;
    position: fixed;
    width: 80%;
}

ul {
    background-color: lawngreen;
    text-align: center;
}

.nav-container ul li {
    background-color: firebrick;
    vertical-align: middle;
    display: inline-block;   
}

.nav-container ul li #logo:first-child {
    background-color: aliceblue;
    text-align: left;
}

.nav-container ul:nth-last-child(1) {
    background-color: aliceblue;
}

/* nav elements */

#logo {
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    width: 150px;
}

.nav-container ul li a {
    background-color: tomato;
}
